[Unit]
Description=cloud9

[Service]
ExecStart=/usr/bin/node /home/pi/cloud9/server.js -w /home/pi -l 0.0.0.0 -a jns:jns
Restart=always
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/cloud9/
