Description=Romi Slave Server
After=multi-user.target

[Service]
User={{ansible_user}}
Type=idle
ExecStart=/usr/bin/python3 /home/{{ansible_user}}/pololu-rpi-slave-arduino-library/pi/server.py

[Install]
WantedBy=multi-user.target
